<div class="container container-pad-top">
    
    <div style="padding: 100px; border-radius: 10px;">
        <div class="row">
            <div class="col-12">
                <h1>Update Task</h1>
            <form name="createTaskForm" [formGroup]="createTaskForm" >
                <div class="mb-3">
                    <label class="form-label">Enter task name</label>
                    <input type="text" class="form-control" name="taskName" id="taskName" [(ngModel)]="task.taskName" formControlName="taskName" >
                </div> 
                <div class="mb-3">
                    <label class="form-label">Enter your task description</label>
                    <input type="text" class="form-control" name="description" id="description" [(ngModel)]="task.description" formControlName="description" >
                </div> 
                <div><label class="form-label">Enter due date</label></div>
                <div class="mb-3 input-group">
                    <input type="date" class="form-control" name="dueDate" id="dueDate" [(ngModel)]="task.dueDate" formControlName="dueDate">
                </div> 
                <div class="mb-3">
                    <label class="form-label">Enter expected time (in hours)</label>
                    <input type="number" class="form-control" name="expectedTime" id="expectedTime" [(ngModel)]="task.expectedTime" formControlName="expectedTime" >
                </div> 
    
                <div class="mb-3">
                    <label class="form-label">Select task priority level</label>
                    <select class="form-select form-control" [(ngModel)]="task.taskPriorityLevel" formControlName="taskPriorityLevel" id="taskPriorityLevel" name="taskPriorityLevel"> 
                        <option selected disabled >Priority...</option>
                        <option value="HIGH">High</option>
                        <option value="MEDIUM">Medium</option>
                        <option value="LOW">Low</option> 
                    </select>
                </div> 
    
                <div class="mb-3">
                    <label class="form-label">Select task status</label>
                    <select class="form-select form-control" [(ngModel)]="task.taskStatus" formControlName="taskStatus" id="taskStatus" name="taskStatus"> 
                        <option selected disabled >Task Status...</option>
                        <option value="OPEN">Open</option>
                        <option value="WORKING">Working</option>
                        <option value="COMPLETED">Completed</option> 
                    </select>
                </div> 
                
                <div class="mb-3" formGroupName="taskCollection">
                    <label class="form-label">Select task collection ID</label>
                    <br>
                    <select name="form-select form-control" formControlName="id" id="id" name="id">
                    <option value="" disabled selected>Select task collection</option>
                    <option *ngFor="let taskCollection of allTaskCollection" [value]="taskCollection.id">
                      {{ taskCollection.taskCollectionName }}
                    </option>
                </select>
                </div> 
                <button type="submit" class="btn btn-primary" (click)="updateTask()">Update</button>
            </form>
            </div>
        </div>
    </div>
    
</div>