<div class="container container-pad-top">
    <div style="padding: 100px; border-radius: 10px;">
        <div class="row">
            <h1>Create a task log</h1>
            <form name="createTaskLogForm" [formGroup]="createTaskLogForm" (ngSubmit)="createTaskLog()">
                <div class="mb-3">
                    <label class="form-label">Enter spent time</label>
                    <input type="text" class="form-control" name="spentTime" id="spentTime" formControlName="spentTime" >
                </div> 
                <div class="mb-3">
                    <label class="form-label">Enter note(what steps you have taken)</label>
                    <input type="text" class="form-control" name="logNote" id="logNote" formControlName="logNote" >
                </div> 
                <div class="mb-3" formGroupName="task">
                    <label class="form-label">Task ID</label>
                    <input type="number" class="form-control" name="id" id="id" formControlName="id" >
                </div> 
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
