<div class="wrapper">
    <!-- <div class="logo">
        <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
    </div> -->
    <div class="text-center mt-4 name">
        Shohayok
    </div>
    <form name="logInForm" role="form" class="p-3 mt-3" [formGroup]="logInForm" (ngSubmit)="userLogin()">
        <div class="form-field d-flex align-items-center" >
            <span class="far fa-user"><fa-icon [icon]="['far', 'user']"></fa-icon></span>
            <input type="text" class="form-control" id="email" name="email" formControlName="email" placeholder="Enter email">
        </div>
        <div class="form-field d-flex align-items-center">
            <span><fa-icon [icon]="['fas', 'key']"></fa-icon></span>
            <input type="password" class="form-control" name="password" id="password" formControlName="password" placeholder="*******">
        </div>
        <button class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a href="#">Sign up</a>
    </div>
</div>
