<div class="wrapper">
    <!-- <div class="logo">
        <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
    </div> -->
    <div class="text-center mt-4 name">
        Shohayok
    </div>
    <form name="logInForm" role="form" class="p-3 mt-3" [formGroup]=" logInForm">
        <div class="form-field d-flex align-items-center" >
            <span class="far fa-user"></span>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
        </div>
        <button class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a href="#">Sign up</a>
    </div>
</div>
