<!-- MatToolbar Start -->

<!-- <mat-toolbar mode="open">
    <mat-toolbar-row>
        <div class="row">
            <div class="col-md-2">
             <span>TO-DO <fa-icon [icon]="['fas', 'user-edit']"></fa-icon></span>
            </div>
        </div>
        <button type="button" mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
        </button>
        <span class="large-spacer"></span>
        <mat-icon>face</mat-icon>
    </mat-toolbar-row>
</mat-toolbar> -->

<!-- MatSideNavbar Start -->
<mat-sidenav-container autosize>
<mat-sidenav class="side-nav" #sidenav [opened]="screenWidth>840" [mode]="(screenWidth>840)? 'side' : 'over'" position="start">
<div class="container title-font">
    <span>TO-DO <fa-icon [icon]="['fas', 'user-edit']"></fa-icon></span>
</div>
<hr>
<div class="side-nav-link">
<mat-nav-list class="mat-list">
    <mat-list-item class="mat-list-hover">
        <span class="nav-text icon-padding"> <fa-icon [icon]="['far', 'sun']"></fa-icon> My Day</span>
    </mat-list-item>
    <mat-list-item class="mat-list-hover">
        <span class="icon-color nav-text"><mat-icon>expand_less</mat-icon>
            High Priority
        </span>
    </mat-list-item>
    <mat-list-item class="mat-list-hover">
        <span class="icon-color nav-text"><mat-icon>arrow_upward</mat-icon>
            Medium Priority
        </span>
        
    </mat-list-item >
    <mat-list-item class="mat-list-hover">
        <span class="nav-text icon-padding"><fa-icon [icon]="['fas', 'angle-double-down']"></fa-icon> Low Priority</span>
    </mat-list-item>
    <mat-list-item class="mat-list-hover ">
        <span class="nav-text icon-padding"><fa-icon [icon]="['fas', 'home']"></fa-icon> Tasks</span>
    </mat-list-item>
    <mat-list-item class="mat-list-hover">
        <span class="nav-text icon-padding"><fa-icon [icon]="['fas', 'bars']"></fa-icon> Task Collections</span>
    </mat-list-item>
</mat-nav-list>
<mat-nav-list class="list-position sign-out">
    <mat-list-item>
    <span class="nav-text"><fa-icon [icon]="['fas', 'reply-all']"></fa-icon> Sign Out</span>
    </mat-list-item>
</mat-nav-list>
</div>
</mat-sidenav>
<mat-sidenav-content>
</mat-sidenav-content>
</mat-sidenav-container>