.side-nav{
    background-color: #0C134F;
    height: 88%;
    padding:15px;
    color:white;
    width: 240px;
    margin-top: 10px;
}

.title-font{
    font-size: 24px;
    font-weight: 550;
    text-align: center;
}

.nav-text{
    color: white;
    // padding: 15px;
}

.icon-padding{
    padding-right: 15px;
}

.mat-list{
    padding-top:50px;
}

.mat-list-hover:hover{
    opacity: 1;
    background-color: #9398bed3;
}

.list-position{
    bottom: 0;
    position: absolute;
    width:88%;
    padding-bottom: 5px;
}

.sign-out{
    background-color: #D21312;
    
}

.mat-drawer-content{
    overflow: hidden;
}

.side-nav-link{
    overflow: hidden;
}

.icon-color{
    color: white;
    padding-right: 5px;
}

// mat-toolbar designing 
mat-toolbar{
    background-color: #0C134F;
    color: white;
    opacity: 0.98;
    box-shadow: -5px, 9px, 12px, -9px, rgba(0,0,0,0.75);
}

.large-spacer{
    flex: 1 1 auto;
}
mat-sidenav-container{
    height: 100%;
    padding: 10px;
    box-shadow: -5px, 9px, 12px, -9px, rgba(0,0,0,0.75);
}