<nav class="navbar-expand navbar-dark bg-dark px-2">
    <div class="row side-nav-button p-2 me-3 text-light">
        <div class="col-md-2">
            <i><fa-icon [icon]="['fas', 'bars']"></fa-icon></i>
        </div>
        <div class="col-md-2">
            <a href="#" class="navbar-brand px-4">
                TO-DO
            </a>
        </div>
        <div class="col-md-6">
            <form action="" class="d-flex me-5">
                <input type="search" class="form-control me-5" placeholder="search task">
                <button class="btn btn-outline-light" type="submit">search</button>
            </form>
        </div>
        <div class="col-md-2 profile-logo dropstart">
            <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
                user
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a href="#" class="dropdown-item"></a>signup</li>
                <li><a href="#" class="dropdown-item"></a>login</li>
                <li><a href="#" class="dropdown-item"></a>your profile</li>
                <li><a href="#" class="dropdown-item"></a>logout</li>
            </ul>
        </div>
    </div>
    
    
</nav>