.input-group-btn.input-space {
    padding-left: 15px;
  }

.icon-padding{
    padding-left: 5px;
}

.button-solid {
    border: none;
    opacity: 0.75;
    background-color: transparent; 
}
button-solid:focus {
    border: none;
    outline: none;
}

.delete-icon{
    color: rgb(180, 30, 30);
}

.view-icon{
    color: #139fbeee
}

.edit-icon{
    color: #4c1a86
}